<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    
    
    <div style="position: fixed; top:25px; right: 25px">
        {% if 'user_id' not in session %}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        {% endif %}
        
        {% if 'user_id' in session %}
        <a href="/logout">Logout</a>
        <a href="/secret">secret</a>
        <a href="/users/{{username}}">{{username}}</a>
        {% endif %}
    </div>
    
    {% block content %}
    {% endblock %} 
</body>
</html>